<!DOCTYPE html>
<html>
	<head>
		<title>Node vs Humanity</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<link rel='stylesheet' href="style.css">
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	</head>
	<body>
		<div class='black'></div>
		<div class='hand'><%= 'Hello, here are your cards: '%></div>
		<ul>
		</ul>
		<form>
			<input id='wildcard'/><br/>
			<input type='submit' id='submit'/>
		</form>

		<script src="/socket.io/socket.io.js"></script>
		<script>
			var path = window.location.pathname;
			var server = io.connect('http://localhost');
			var username;
			var card;

			server.on('connect', function(data){
				username = prompt('Halt! Who Goes There?!');
				var info = {'path': path, 'username': username};
				server.emit('join', info)
			});

		  server.on('welcome', function (message){
		  	$('.black').text(message);
		  	console.log(message);
		  });

			server.on('message', function (doc){
				$('ul').append('<li>'+doc.text+'</li>');
			});

			$('ul').on('click', 'li', function(event){
				card = $(this).text();
				$(this).remove();
				$('form').trigger('submit');
				var doc = {'path': path, username:'username'} 

				// for now a 'filler' card is given via server.message event
				server.emit('draw', doc);
			});

			$('form').on('submit', function(event){
				event.preventDefault();
				card = card || $('#wildcard').val();
				//server.emit('reply', {'username': username, 'path': path, 'message': card});
				console.log(card);
				card = '';
				$('#wildcard').val('');
			});

		</script>
	</body>
</html>