<!DOCTYPE html>
<html>
	<head>
		<title>Node vs Humanity</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<link rel='stylesheet' href="style.css">
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	</head>
	<body>
		<div class='black'>Placeholder</div>
		<div><%= 'Hello, here are your cards: '%></div>
		<ul class ='hand'>
		</ul>
		<form>
			<input id='wildcard'/><br/>
			<input type='submit' id='submit'/>
		</form>
		<div class='hidden'>
			<ul class='responses'></ul>
			<ul class='deck'></ul>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script> // perhaps put this all in a file and load it

			var path = window.location.pathname,
					server = io.connect('http://localhost'),
					spammable = true,
					username,
					card,
					czar,
					disabled;
			
		//Listeners	
			//Handshake
			server.on('connect', function(data){
				username = prompt('Halt! Who Goes There?!');
				var info = {'path': path, 'username': username};
				//server.emit('can join?', path);
				server.emit('join', info);
			});

		  server.on('Server Message', function (message){
		  	console.log(message);
		  });

		  //Recieve and randomize white deck clientside
			server.on('pass deck', function (deck){
				shuffle(deck);
				var hand = 0
				deck.forEach(function (card){
					if (hand < 7) {
						$('.hand').append('<li>'+card.text+'</li>');
						hand++
					} else if (card) {
						$('.deck').append('<li>'+card.text+'</li>');
					}
				})
				ready();
			});

			//Start!
			server.on('start', function (data){
				enablePeon();
				console.log(data);
			});

			//Wait for others
			server.on('waiting', function (data){
				//do stuff while waiting
				console.log(data);
				if (disabled && spammable) {
					setTimeout(function(){
						spammable = true;
						ready()
					}, 1000);
				}
				spammable = false;
			});
			//not yet used
			server.on('crown czar', function (data){
				czar = true;
				console.log(data);
			});

			//Someone Disconnects
			//remove from everyone's object

			//Populate Response
			server.on('player answer', function (card){
				$('.responses').append('<li val="'+card.username+'">'+card.card+'</li>');
			});

		//Emitters
			//Trigger Submit/Emit Card to Server, reveal top card of hidden white deck if submission is from hand
			var enablePeon = function() {

				disabled = false;

				$('.hand').on('click', 'li', function(event){
					card = $(this).text();
					$(this).remove();
					$('form').trigger('submit.card');

					var $topCard = $('.deck li:first-of-type');
					$('.hand').append('<li>'+$topCard.text()+"</li>");
					$topCard.remove();
				});

				$('form').on('submit.card', function(event){
					event.preventDefault();
					card = card || $('#wildcard').val();
					server.emit('submit card', {'username': username, 'path': path, 'card': card});
					card = '';
					$('#wildcard').val('');
					ready();
				});

				$('.black').on('click', function(){
					var winner = $(this).text();
					if (czar == true) {
						server.emit('czar action', {'path':path, 'choice':winner});
						czar = false;
					}
				});
			}


			var disable = function(){

				disabled = true;
				$('.hand').off('click');
				$('form').off('submit.card');
				$('form').on('submit', function(event){ event.preventDefault(); });
			};

			var ready = function(){
				disable();
				console.log('disabled!');
				server.emit('player ready', {'path': path} )
			}

			//Fisher Yates Shuffle
			var shuffle = function (array) {
				var m = array.length, t, i;
				// While there remain elements to shuffle…
				while (m) {
					// Pick a remaining element…
					i = Math.floor(Math.random() * m--);
					// And swap it with the current element.
					t = array[m];
					array[m] = array[i];
					array[i] = t;
				}
				return array;
			}

		</script>
	</body>
</html>