<!DOCTYPE html>
<html>
	<head>
		<title>Node vs Humanity</title>
		<script src="jquery.js"></script>
		<link rel="stylesheet" media="(max-width: 1920px)" href="style.css">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />  
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	</head>
	<body>

		<div id='black'>Please wait for round to start.</div>

		<div class='czar hidden'>
			<ul  id="responses"></ul>
			<button id='newGame'>Start New Round</button>
		</div>
		
		<div class= 'player'>
			<ul id='hand'>
			</ul>
			<form>
				<input id='wildcard'/>
				<input type='submit' id='submit' value="Wild!"/>
			</form>
		</div>
		<ul class='hidden' id='deck'></ul>
		<ul id='scores'><ul>
		<script src="/socket.io/socket.io.js"></script>
		<script src="app.js"></script>
	</body>
</html>