<!DOCTYPE html>
<html>
	<head>
		<title>Node vs Humanity</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<link rel='stylesheet' href="style.css">
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	</head>
	<body>
		<div id='black'>Please wait for round to start.</div>
		<div><%= 'Hello, here are your cards: '%></div>

		
		<div class='czar hidden'>
			<p>Only the Czar Shoulde be able to see this</p>
			<ul  id="responses"></ul>
			<button id='newGame'>Draw a new Black Card</button>
		</div>

		<div class= 'player'>
			<ul id='hand'>
			</ul>
			<form>
				<input id='wildcard'/><br/>
				<input type='submit' id='submit'/>
			</form>
		</div>
		<ul class='hidden' id='deck'></ul>

		<script src="/socket.io/socket.io.js"></script>
		<script> // perhaps put this all in a file and load it

			var path = window.location.pathname,
				server = io.connect('/'),
				spammable = true,
				username,
				card,
				czar,
				isReady;
			
		//Listeners	
			//Handshake
			server.on('connect', function(data){
				username = prompt('Halt! Who Goes There?!');
				var info = {'path': path, 'username': username};
				//server.emit('can join?', path);
				server.emit('join', info);
			});

		  	server.on('Server Message', function (message){
		  		console.log(message);
		  	});

		  	//Recieve and randomize white deck clientside
			server.on('pass deck', function (deck){
				shuffle(deck);
				var hand = 0
				deck.forEach(function (card){
					if (hand < 7) {
						$('#hand').append('<li>'+card.text+'</li>');
						hand++
					} else if (card) {
						$('#deck').append('<li>'+card.text+'</li>');
					}
				})
				ready();
			});

			//Start!
			server.on('start', function (data){
				console.log('starting new round');
				enablePeon();
				isReady = false;
				$('#responses').empty();
				$('#black').text(data.text);
			});

			server.on('crown czar', function (data){
				console.log(data);
				enableCzar();
			});

			//Wait for others after emitting player choice
			
			server.on('waiting', function (data){
				console.log(data);
				//settimeout prevents getting spammed by echoes
				if (isReady && spammable) {

					setTimeout(function(){
						spammable = true;
						ready();
					}, 20*1000);
				}
				spammable = false;
			});


			server.on('pick winner', function (data) {
				console.log(data);
				if ($('#responses:first-of-type').text() == '') {
					server.emit('winner picked', 
						{path: path, winner: $('.black').text()}) 
				};
			});

			//Czar picks a winner and emits the choen card to all

			server.on('show winner', function (winner){
				$('#black').text(winner);
				console.log('winner is :'+winner);
			});

			//Populate Response
			server.on('player answer', function (card){
				if (czar) {
					$('#responses').append('<li val="'+card.username+'">'+card.card+'</li>');
				}
			});

		//Emitters
			//Trigger Submit/Emit Card to Server, reveal top card of hidden white deck if submission is from hand

			//only show hand to peons
			function enablePeon () {
				$('.czar').addClass('hidden');
				$('.player').removeClass('hidden');
			}

			$('#hand').on('click', 'li', function(event){
				if (!isReady) { //hacky. i know
					card = $(this).text();
					$(this).remove();
					$('form').trigger('submit.card');

					var $topCard = $('#deck li:first-of-type');
					$('#hand').append('<li>'+$topCard.text()+"</li>");
					$topCard.remove();
				}
			});

			$('form').on('submit.card', function(event){
				event.preventDefault();
				if (!isReady) {
					card = card || $('#wildcard').val();
					console.log('submit.card called');
					server.emit('submit card', {'username': username, 'path': path, 'card': card});
					ready();
					card = '';
					$('#wildcard').val('');
				}
			});

			//only show submissions to czar, hide hand
			function enableCzar (){
				czar = true;
				$('.czar').removeClass('hidden');
				$('.player').addClass('hidden');
			}

			$('#responses').on('click', 'li', function(){
				var winner = $(this).text();
				server.emit('winner picked', {'path':path, 'winner':winner});
			});

			$('#newGame').on('click', function(){
				var winner = $(this).text();
				server.emit('winner picked', {'path':path, 'winner':winner});
			});

			function ready (){
				isReady = true;
				server.emit('player ready', {'path': path} )
			}

			//Fisher Yates Shuffle
			function shuffle (array) {
				var m = array.length, t, i;
				// While there remain elements to shuffle…
				while (m) {
					// Pick a remaining element…
					i = Math.floor(Math.random() * m--);
					// And swap it with the current element.
					t = array[m];
					array[m] = array[i];
					array[i] = t;
				}
				return array;
			}
			
		</script>
	</body>
</html>