html {
	text-align: center;
	font-family: Helvetica;
	font-weight: bold;
}

#black {
	padding: .5em;
	height: 33%;
	font-size: 2em;
	background-color: black;
	color: white;
}

#winner {
	padding: .5em;
	height: 33%;
	font-size: 2em;
}

.hidden {
	display: none;
}

ul {
	padding-left: 0;
}

li {
	padding-top: .5em;
	padding-bottom: .5em;
	font-size: 1.5em;
	list-style-type: none;
}

#hand li:nth-child(odd), #czar li:nth-child(odd){
	background-color: white;
};